html

    head
        title EVENTMAPLOCATOR
        style(type='text/css').
           #map {
                height: 1000px;
                width: 1000px;
            }


    body
        h1 EVENT MAP LOCATOR
        div#map
        script(type='text/javascript' src='index.js')
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY6b3_getVFPndmAadMLiBQa2gHBuWMKA&callback=initMap")